<h1>Hi</h1><br>
<h1>I'm Karl</h1>


<h4>
    <div id="fragment1">Full Stack Developer</div>
    <div id="fragment2">Techie Enthusiast</div>
</h4>


<p class="index-p">Husband, Father</p><br><br>

<div class="contact-link">
    <%= link_to 'Contact me!', home_contact_path, class:"btn btn-secondary btn-lg"%>
</div>