<br>
<div class="container">
<p class="h1">Hi</p>
    <h1>I'm Karl</h1>

</div>

<div class="container">
<h4>
    <div id="fragment1">Full Stack Developer</div>
    <div id="fragment2">Techie Enthusiast</div>
</h4>


<p class="index-p">Husband, Father</p><br><br>
</div>



<div class="contact-link">
    <%= link_to 'Contact me!', home_contact_path, class:"btn btn-secondary btn-lg"%>
</div>